@prefix-cls: ~'eco-image-viewer';

.@{prefix-cls}-fixed-body {
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.@{prefix-cls}-image-root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  .@{prefix-cls}-image-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .@{prefix-cls}-image-slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3001;
    &.@{prefix-cls}-image-slide-trans {
      transition: all 0.2s linear;
    }
    .@{prefix-cls}-image-item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      &.@{prefix-cls}-loading {
        animation: myRotate 1s linear infinite;
      }
      &.@{prefix-cls}-trans {
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
  .@{prefix-cls}-point-box {
    position: fixed;
    bottom: 30px;
    left: 0;
    z-index: 3001;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    .@{prefix-cls}-point-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 12px;
      .@{prefix-cls}-point {
        width: 12px;
        height: 12px;
        background: #999;
        border-radius: 50%;
        &.@{prefix-cls}-point-on {
          background: #fff;
        }
      }
    }
  }
  .@{prefix-cls}-image-tools {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 3001;
    display: flex;
    align-items: center;
    .@{prefix-cls}-tools-rotate {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      background-size: 100% 100%;
      &.@{prefix-cls}-tools-rotate-l {
        background-image: url(../assets/rotate_l.png);
      }
      &.@{prefix-cls}-tools-rotate-r {
        background-image: url(../assets/rotate_r.png);
      }
    }
    .@{prefix-cls}-tools-btn {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: pointer;
      &.@{prefix-cls}-tools-reduce {
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 2px;
          background: #fff;
          border-radius: 1px;
          transform: translate(-50%, -50%);
          content: '';
        }
        &.@{prefix-cls}-tools-gray {
          border-color: #999;
          &:before {
            background: #999;
          }
        }
      }
      &.@{prefix-cls}-tools-add {
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 2px;
          background: #fff;
          border-radius: 1px;
          transform: translate(-50%, -50%);
          content: '';
        }
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 2px;
          height: 10px;
          background: #fff;
          border-radius: 1px;
          transform: translate(-50%, -50%);
          content: '';
        }
        &.@{prefix-cls}-tools-gray {
          border-color: #999;
          &:before,
          &:after {
            background: #999;
          }
        }
      }
      &.@{prefix-cls}-tools-close {
        border-color: #fff;
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 2px;
          background: #fff;
          border-radius: 1px;
          transform: translate(-50%, -50%) rotate(45deg);
          content: '';
        }
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 2px;
          height: 10px;
          background: #fff;
          border-radius: 1px;
          transform: translate(-50%, -50%) rotate(45deg);
          content: '';
        }
      }
    }
    .@{prefix-cls}-tools-reset {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 20px;
      margin-right: 10px;
      color: #fff;
      font-size: 14px;
      border: 2px solid #fff;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .@{prefix-cls}-tools-arrow-box {
    position: fixed;
    top: 50%;
    z-index: 3001;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .@{prefix-cls}-tools-arrow {
      width: 15px;
      height: 15px;
      border: solid #999;
      border-width: 2px 0 0 2px;
      &.@{prefix-cls}-tools-active {
        border-color: #fff;
      }
    }
    &.@{prefix-cls}-tools-left {
      left: 20px;
      transform: translateY(-50%) rotate(-45deg);
    }
    &.@{prefix-cls}-tools-right {
      right: 20px;
      transform: translateY(-50%) rotate(135deg);
    }
  }
}

@keyframes myRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
